<!-- <h5>{{questionObj.title}}</h5>
<h5>{{questionObj.description}}</h5>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let p of questionObj.questions">

        <P>{{p.question}}</P>
        <P>{{p.actualAnswer}}</P>
    </li>
</ul> -->

<!-- <div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{questionObj.title}}</h2>
            <p class="lead">{{questionObj.description}}</p>
        </div>
    </div>
</div> -->


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">{{questionObj.title}} </h5>
                    <p class="lead">{{questionObj.description}}</p>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">السؤال</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">الاجابة الصحيحة</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let p of questionObj.questions">
                            <tr>
                                <td class="pl-4">{{this.questionObj.questions.indexOf(p)+1}}</td>
                                <td>
                                    <span class="text-muted">{{p.question}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.correctAnswer}}</span><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>