<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <img src="assets/images/1.jpg" width="50" height="50">
        <button class="btn  btn-lg btn-outline-primary add-user" routerLink="/system/employee/emp/operations/register-user">إضافة مستخدم</button>
        <button class="btn btn-lg btn-outline-primary cancel" routerLink="/system/employee/emp/operations/main-operations-emp">رجوع</button>
    </nav>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">إدارة المستخدمين</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">الاسم الاول</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">الاسم الاخير</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">اسم المستخدم</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">تاريخ الميلاد</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">رقم الهاتف</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">البريد الإلكتروني</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">اسم الاب</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">اسم الام</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">إدارة </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of user.docs  | paginate: { id: 'listing_pagination',itemsPerPage:10, currentPage: page,totalItems:totalRecords }">

                                <td class="pl-4">{{this.user.docs.indexOf(p)+1}}</td>
                                <td>
                                    <span class="text-muted">{{p.firstName}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.lastName}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.username}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.birthDate}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.phoneNumber}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.email}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.fatherName}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.motherName}}</span><br>
                                </td>
                                <td>
                                    <button class="btn btn-lg btn-outline-success" (click)="view(p)"> عرض</button>
                                    <button class="btn btn-lg btn-outline-primary" (click)=" update(p)">تعديل</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <pagination-controls id='listing_pagination' maxSize:number=10 directionLinks:boolean="true" (pageChange)="pageChanged($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>