<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Additation</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">name</label>
            <div class="col-sm-9">
                <input type="text" id="firstName" class="form-control" autofocus [(ngModel)]="doctorObj.name" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">specialisation</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="doctorObj.specialisation" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">city</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="doctorObj.city" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">locationDesc</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="doctorObj.locationDesc" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">longitude</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="doctorObj.longitude" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">latitude</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="doctorObj.latitude" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">openTime</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="doctorObj.openTime" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">closeTime</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="doctorObj.closeTime" [ngModelOptions]="{standalone: true}">
            </div>
        </div>



       

        <button type="submit" class="btn btn-primary btn-block" (click)="addDoctor()">Register</button>
        <button type="submit" class="btn btn-primary btn-block" routerLink="/system/employee/responsible/operations/manager-doctor">Cancel</button>
    </form>

</div> -->
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">إظافة طبيب</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row1">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="labels">اسم الطبيب</label>
                                <input type="text" class="form-control" [(ngModel)]="doctorObj.name" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>تخصص</label>
                                <input type="text" class="form-control" [(ngModel)]="doctorObj.specialisation" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>المدينة</label>
                                <input type="text" class="form-control" [(ngModel)]="doctorObj.city" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>الموقع</label>
                                <input type="text" class="form-control" [(ngModel)]="doctorObj.locationDesc" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>خط الطول</label>
                                <input type="text" class="form-control" [(ngModel)]="doctorObj.longitude" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>خط العرض</label>
                                <input type="text" class="form-control" [(ngModel)]="doctorObj.latitude" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12">
                                <label>OpenTime</label>
                                <input type="text" class="form-control" [(ngModel)]="doctorObj.openTime" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>CloseTime</label>
                                <input type="text" class="form-control" [(ngModel)]="doctorObj.closeTime" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="a">
                <button type="button" class="btn btn-lg btn-outline-primary save" (click)="addDoctor()">حفظ</button>
                <button type="button" class="btn btn-lg btn-outline-primary cancel" routerLink="/system/employee/responsible/operations/manager-doctor">رجوع</button>
            </div>
        </div>
    </form>
</div>