<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="assets/images/9.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">عرض سجل مستخدم</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row1">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>الجنس</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.gender}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>الأدوية الحالية</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.currentMedications}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>الاضطرابات العائلية</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.Familydisturbances}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>طفل وحيد</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.lonelyChild}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>يتعرض للعنف</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.ExposedToViolence}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>الوضع المالي للأسرة</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.FinancialStausOfTheFamily}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>احصل على طعام صحي</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.GetHealthyFood}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>معدل النوم</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.SleepRate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>معدل اللعب</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.playingRate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>مؤشر الصحة العقلية</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.mentalHealthIndicator}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>مستوى تعليم الأب</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.educationLevelFather}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>مستوى تعليم الام</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.educationLevelmother}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>التثقيف الصحي</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.healthEducation}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>مؤشر التعليم للطفل</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userrecord.educationIndicatorForChild}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-lg btn-outline-primary cancel" routerLink="/system/employee/emp/operations/git-all-user">رجوع</button>

        </div>
    </form>
</div>