<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>واجهة تعديل سجل مستخدم</p>
        </div>

        <div class="form-content">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.gender}}" class="form-control" [(ngModel)]="editRecordObj.gender" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.currentMedications}}" class="form-control" [(ngModel)]="editRecordObj.currentMedications" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.Familydisturbances}}" class="form-control" [(ngModel)]="editRecordObj.Familydisturbances" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.lonelyChild}}" class="form-control" [(ngModel)]="editRecordObj.lonelyChild" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.ExposedToViolence}}" class="form-control" [(ngModel)]="editRecordObj.ExposedToViolence" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.FinancialStausOfTheFamily}}" class="form-control" [(ngModel)]="editRecordObj.FinancialStausOfTheFamily" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group1">
                    <input type="text" placeholder="{{userrecord.GetHealthyFood}}" class="form-control" [(ngModel)]="editRecordObj.GetHealthyFood" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.SleepRate}}" class="form-control" [(ngModel)]="editRecordObj.SleepRate" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.playingRate}}" class="form-control" [(ngModel)]="editRecordObj.playingRate" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.mentalHealthIndicator}}" class="form-control" [(ngModel)]="editRecordObj.mentalHealthIndicator" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.educationLevelFather}}" class="form-control" [(ngModel)]="editRecordObj.educationLevelFather" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.educationLevelmother}}" class="form-control" [(ngModel)]="editRecordObj.educationLevelmother" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="{{userrecord.healthEducation}}" class="form-control" [(ngModel)]="editRecordObj.healthEducation" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group1">
                    <input type="text" placeholder="{{userrecord.educationIndicatorForChild}}" class="form-control" [(ngModel)]="editRecordObj.educationIndicatorForChild" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <button class="btn btn-lg btn-outline-primary" (click)="editRecord()">تعديل</button>
            <button routerLink="/system/employee/emp/operations/git-all-user" class="btn btn-lg btn-outline-primary">رجوع</button>
        </div>
    </div>
</div>