<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="assets/images/9.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">معلومات المستخدم</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-lg  btn-outline-primary" routerLink="/system/employee/responsible/operations/update-user-info-res">تعديل الملف الشخصي</button>
            </div>
        </div>
        <div class="row1">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>الأسم الاول</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.firstName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>الأسم الأخير</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.lastName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>اسم مستخدم</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.username}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>بريد الإلكتروني</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.role}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>تاريخ الميلاد</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.birthDate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>رقم الهاتف</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.phoneNumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>أسم الأب</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.fatherName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>أسم الأم</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.motherName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-lg btn-outline-primary cancel" routerLink="/system/employee/responsible/operations/main-operations-responsible">رجوع</button>
        </div>
    </form>
</div>