<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">إظافة استبيان</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row1">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="labels">التصنيفات</label>
                                <input type="text" class="form-control" [(ngModel)]="questionObj.categories" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="labels">topic</label>
                                <input type="text" class="form-control" [(ngModel)]="questionObj.topic" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>العنوان</label>
                                <input type="text" class="form-control" [(ngModel)]="questionObj.title" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>التوصيف</label>
                                <input type="text" class="form-control" [(ngModel)]="questionObj.description" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>معدل العمر</label>
                                <input type="text" class="form-control" [(ngModel)]="questionObj.ageRange" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال1</label>
                                <input type="text" class="form-control" [(ngModel)]="obj1.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj1.correctAnswer" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال2</label>
                                <input type="text" class="form-control" [(ngModel)]="obj2.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj2.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>3السؤال</label>
                                <input type="text" class="form-control" [(ngModel)]="obj3.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj3.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال4</label>
                                <input type="text" class="form-control" [(ngModel)]="obj4.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj4.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال5</label>
                                <input type="text" class="form-control" [(ngModel)]="obj5.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj5.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال6</label>
                                <input type="text" class="form-control" [(ngModel)]="obj6.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj6.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال7</label>
                                <input type="text" class="form-control" [(ngModel)]="obj7.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj7.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال8</label>
                                <input type="text" class="form-control" [(ngModel)]="obj8.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj8.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال9</label>
                                <input type="text" class="form-control" [(ngModel)]="obj9.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj9.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال10</label>
                                <input type="text" class="form-control" [(ngModel)]="obj10.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj10.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال11</label>
                                <input type="text" class="form-control" [(ngModel)]="obj11.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj11.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال12</label>
                                <input type="text" class="form-control" [(ngModel)]="obj12.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj12.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال13</label>
                                <input type="text" class="form-control" [(ngModel)]="obj13.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj13.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال14</label>
                                <input type="text" class="form-control" [(ngModel)]="obj14.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj14.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال15</label>
                                <input type="text" class="form-control" [(ngModel)]="obj15.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj15.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال16</label>
                                <input type="text" class="form-control" [(ngModel)]="obj16.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj16.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال17</label>
                                <input type="text" class="form-control" [(ngModel)]="obj17.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj17.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال18</label>
                                <input type="text" class="form-control" [(ngModel)]="obj18.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj18.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال19</label>
                                <input type="text" class="form-control" [(ngModel)]="obj19.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj19.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>السؤال20</label>
                                <input type="text" class="form-control" [(ngModel)]="obj20.question" [ngModelOptions]="{standalone: true}">
                                <label>الجواب</label>
                                <input type="text" class="form-control" [(ngModel)]="obj20.correctAnswer" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>النتيجة 1</label>
                                <input type="text" class="form-control" [(ngModel)]="res1.result" [ngModelOptions]="{standalone: true}">
                                <label>min</label>
                                <input type="text" class="form-control" [(ngModel)]="res1.min" [ngModelOptions]="{standalone: true}">
                                <label>max</label>
                                <input type="text" class="form-control" [(ngModel)]="res1.max" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>النتيجة 2</label>
                                <input type="text" class="form-control" [(ngModel)]="res2.result" [ngModelOptions]="{standalone: true}">
                                <label>min</label>
                                <input type="text" class="form-control" [(ngModel)]="res2.min" [ngModelOptions]="{standalone: true}">
                                <label>max</label>
                                <input type="text" class="form-control" [(ngModel)]="res2.max" [ngModelOptions]="{standalone: true}">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="a">
                <button type="button" class="btn btn-lg btn-outline-primary save" (click)="addQuestionnaire()">حفظ</button>
                <button type="button" class="btn btn-lg btn-outline-primary cancel" routerLink="/system/employee/responsible/operations/manager-questionnaire">رجوع</button>
            </div>
        </div>
    </form>
</div>