<!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"[(ngModel)]="service.logObj.username" [ngModelOptions]="{standalone: true}">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"[(ngModel)]="service.logObj.password" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="btn btn-primary" (click)="service.logIn()">Submit</button>
  </form> -->
<!-- <div>
  <div>
    <input type="text" placeholder="name" class="form-control" [(ngModel)]="logObj.username"
      [ngModelOptions]="{standalone: true}">
    <input type="text" placeholder="price" class="form-control" [(ngModel)]="logObj.password"
      [ngModelOptions]="{standalone: true}">

    <button class="btn btn-primary" (click)="logIn()">Creat</button>
  </div>
</div> -->
<!-- <main class="form-signin">
  <form>

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
        [(ngModel)]="service.logObj.username" [ngModelOptions]="{standalone: true}">
      <label for="floatingInput">User Name</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
        [(ngModel)]="service.logObj.password" [ngModelOptions]="{standalone: true}">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="service.logIn()">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020–2021</p>
  </form>
</main> -->

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form onsubmit="event.preventDefault()" class="box">
                        <h1>تسجيل الدخول</h1>
                        <p class="text-muted"> من فضلك أدخل اسم المستخدم وكلمة المرور</p>
                        <input type="text" placeholder="اسم المستخدم" [(ngModel)]="service.logObj.username" [ngModelOptions]="{standalone: true}">
                        <input type="password" placeholder="كلمة المرور" [(ngModel)]="service.logObj.password" [ngModelOptions]="{standalone: true}">

                        <input type="submit" (click)="service.logIn()" value="تسجيل">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>