div.d-flex.flex-column.flex-shrink-0.bg-dark {
    width: 4.5rem;
    margin-top: 56px;
    height: 605px;
    /* background: -webkit-linear-gradient(left, #0072ff, #8811c5); */
}

a.navbar-brand {
    margin-left: 20px;
}

main.container._ngcontent-cte-c126 {
    margin-left: 0px;
}


/* nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
} */

button.btn.btn-lg.btn-light {
    color: white;
    border-radius: 3.3rem;
    /* border: 2px solid #0297ee; */
}

div.b {
    margin-left: 648px;
}

button.btn.btn-lg.btn-outline-primary {
    color: white;
    border-radius: 3.3rem;
    /* border: 2px solid #0297ee; */
}