<!-- <div>
    <div>
        
        <input type="text" placeholder="firstName" class="form-control" [(ngModel)]="updateuserinfo.firstName"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="lastName" class="form-control" [(ngModel)]="updateuserinfo.lastName"
            [ngModelOptions]="{standalone: true}">
           
        <button class="btn btn-primary" (click)="updateUserInfo()">Register</button>
    </div>
</div> -->
<!-- <div class="container rounded bg-dark mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="assets/images/9.jpg"><span class="font-weight-bold">{{users.username}}</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="{{users.firstName}}" [(ngModel)]="updateuserinfo.firstName" [ngModelOptions]="{standalone: true}"></div>
                    <div class="col-md-12"><label class="labels">Last Name</label><input type="text" class="form-control" placeholder="{{users.lastName}}" [(ngModel)]="updateuserinfo.lastName" [ngModelOptions]="{standalone: true}"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-lg btn-outline-primary" (click)="updateUserInfo()" routerLink="/system/employee/manager/operations/get-user">Save
                        Profile</button>
                    <button class="btn btn-lg btn-outline-primary" routerLink="/system/employee/manager/operations/get-user">Cancel</button>

                </div>

            </div>
        </div>
    </div>
</div> -->

<!-- 
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="assets/images/9.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">User Information</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-lg  btn-outline-primary" routerLink="/system/employee/emp/operations/git-user-info">cancel</button>
            </div>
        </div>
        <div class="row1">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="{{users.firstName}}" [(ngModel)]="updateuserinfo.firstName" [ngModelOptions]="{standalone: true}"></div>
                            <div class="col-md-12"><label class="labels">Last Name</label><input type="text" class="form-control" placeholder="{{users.lastName}}" [(ngModel)]="updateuserinfo.lastName" [ngModelOptions]="{standalone: true}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-lg btn-outline-primary save" (click)="updateUserInfo()" routerLink="/system/employee/emp/operations/git-user-info">Save</button>
        </div>
    </form>
</div> -->


<!-- <div>
    <div>
        
        <input type="text" placeholder="firstName" class="form-control" [(ngModel)]="updateuserinfo.firstName"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="lastName" class="form-control" [(ngModel)]="updateuserinfo.lastName"
            [ngModelOptions]="{standalone: true}">
           
        <button class="btn btn-primary" (click)="updateUserInfo()">Register</button>
    </div>
</div> -->
<!-- <div class="container rounded bg-dark mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="assets/images/9.jpg"><span class="font-weight-bold">{{users.username}}</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="{{users.firstName}}" [(ngModel)]="updateuserinfo.firstName" [ngModelOptions]="{standalone: true}"></div>
                    <div class="col-md-12"><label class="labels">Last Name</label><input type="text" class="form-control" placeholder="{{users.lastName}}" [(ngModel)]="updateuserinfo.lastName" [ngModelOptions]="{standalone: true}"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-lg btn-outline-primary" (click)="updateUserInfo()" routerLink="/system/employee/manager/operations/get-user">Save
                        Profile</button>
                    <button class="btn btn-lg btn-outline-primary" routerLink="/system/employee/manager/operations/get-user">Cancel</button>

                </div>

            </div>
        </div>
    </div>
</div> -->


<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="assets/images/9.jpg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">تعديل الملف الشخصي</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-lg  btn-outline-primary" routerLink="/system/employee/emp/operations/git-user-info">رجوع</button>
            </div>
        </div>
        <div class="row1">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12"><label class="labels">الأسم الاول</label><input type="text" class="form-control" placeholder="{{users.firstName}}" [(ngModel)]="updateuserinfo.firstName" [ngModelOptions]="{standalone: true}"></div>
                            <div class="col-md-12"><label class="labels">الأسم الأخير</label><input type="text" class="form-control" placeholder="{{users.lastName}}" [(ngModel)]="updateuserinfo.lastName" [ngModelOptions]="{standalone: true}"></div>
                            <div class="col-md-12"><label class="labels">أسم مستخدم</label><input type="text" class="form-control" placeholder="{{users.username}}" [(ngModel)]="updateuserinfo.username" [ngModelOptions]="{standalone: true}"></div>
                            <div class="col-md-12"><label class="labels">بريد الإلكتروني</label><input type="text" class="form-control" placeholder="{{users.email}}" [(ngModel)]="updateuserinfo.email" [ngModelOptions]="{standalone: true}"></div>
                            <div class="col-md-12"><label class="labels">تاريخ الميلاد</label><input type="text" class="form-control" placeholder="{{users.birthDate}}" [(ngModel)]="updateuserinfo.birthDate" [ngModelOptions]="{standalone: true}"></div>
                            <div class="col-md-12"><label class="labels">رقم الهاتف</label><input type="text" class="form-control" placeholder="{{users.phoneNumber}}" [(ngModel)]="updateuserinfo.phoneNumber" [ngModelOptions]="{standalone: true}"></div>
                            <div class="col-md-12"><label class="labels">أسم الأب</label><input type="text" class="form-control" placeholder="{{users.fatherName}}" [(ngModel)]="updateuserinfo.fatherName" [ngModelOptions]="{standalone: true}"></div>
                            <div class="col-md-12"><label class="labels">أسم الأم</label><input type="text" class="form-control" placeholder="{{users.motherName}}" [(ngModel)]="updateuserinfo.motherName" [ngModelOptions]="{standalone: true}"></div>

                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-lg btn-outline-primary save" (click)="updateUserInfo()" routerLink="/system/employee/emp/operations/git-user-info">حفظ</button>
        </div>
    </form>
</div>