<div class="divart">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/system/employee/responsible/operations/manage-articales">إدارة المقالات </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

<div *ngFor="let p of post" class="del">
    <ngb-accordion  #a="ngbAccordion" activeIds="custom-panel-1">

        <ngb-panel>
            <ng-template ngbPanelHeader let-opened="opened">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="m-0">{{p.title}}</h5>
                    <div>
                        <button class="btn btn-sm btn-outline-primary ml-2" (click)="deleteArticle(p)">حذف</button>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>