ngb-carousel.carousel.slide {
    top: 10px;
    margin-top: 38px;
    height: 300px;
    width: 1116px;
    margin-left: 140px;
}


/* nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
} */

span.sr-only {
    margin-top: 100px;
    color: #000;
}

button.btn.btn-lg.btn-outline-primary {
    margin-left: 1154px;
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

img {
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

p {
    width: 600px;
    margin-top: 160px;
    margin-right: 120px;
    margin-left: 380px;
    direction: rtl;
}


/* nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
} */