<!-- <div class="row">
    <div class="col"><button type="button" class="btn btn-primary"
        routerLink="/system/employee/responsible/operations/main-operations-responsible">Responsible</button></div>
    <div class="col"> <button type="button" class="btn btn-primary"
        routerLink="/system/employee/emp/operations/main-operations-emp">Employee</button></div>
    <div class="col"><button type="button" class="btn btn-primary"
        routerLink="/system/employee/manager/operations/main-operations-manager">Manager</button></div>
  </div> -->

<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <img src="assets/images/1.jpg" width="50" height="50">
        <button type="button" class="btn btn-lg btn-outline-primary" routerLink="/system/login">تسجيل دخول</button>
    </nav>
</div>




<div>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <!-- <img src="assets/images/2.png" width="1116" height="500" alt="Random first slide"> -->
                <p>عندما تكون في السجن تكون لك أمنية واحدة: الحريّة وعندما تمرض في السجن لا تفكر بالحريّة وغنما بالصحّة. الصحّة إذن تسبق الحريّة.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <!-- <img src="assets/images/3.jpg" width="1116" height="500" alt="Random second slide"> -->
                <p>كما أنّ الصحّة النفسية الفرديّة مشروطة عموماً بالصحّة المجتمعيّة، فإنّ المرض النفسي الفردي، والهدر الوجودي الفردي لا يعدوان كونهما تعبيراً عن المرض الاجتماعي. </p>

            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <!-- <img src="assets/images/4.jpg" width="1116" height="500" alt="Random third slide"> -->
                <p>لا تصدق أنّ الأشياء مضرة بالصحّة، وحدهم الأشخاص مضرّون، وقد يلحقون بك من الأذى أكثر ممّا تلحق بك الأشياء التي تصرّ وزارة الصحة على تحذيرك من تعاطيها. </p>

            </div>
        </ng-template>
    </ngb-carousel>
</div>