<!-- <ul class="list-group">
    <li *ngFor="let u of users.docs" class="list-group-item">
        {{u.username}}
        <button class="btn btn-danger" (click)="deleteUser(u)">Delete</button>
    </li>
</ul> -->

<div>
    <div class="container">
      <h2>User</h2>          
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of users.docs" >
            <td>{{u.username}}</td>
           
            <td>
              <button class="btn btn-danger" (click)="deleteUser(u)">Delete</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>