<!-- <div >
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/system/employee/responsible/operations/manage-articales">إدارة المقالات </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<p  class="divart1">حاليا هاي هيك بس بدي اشوف مصعب مسان اعرف شلون اقدر امسك الاندكس تيع العنوان واروح ابعثو لكمبوننت ثاني مشان اعرض العنوان والمقالة لحال طبعا بعد مااضغط على زر التعديل</p>
<div class="divart">
    <div *ngFor="let p of post">
      <ngb-accordion class="aaa"  #a="ngbAccordion" activeIds="custom-panel-1">
  
        <ngb-panel>
          <ng-template ngbPanelHeader >
            <div class="d-flex align-items-center justify-content-between">
              <h5 class="m-0">{{p.title}}</h5>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <div class="input-group mb-3">
        <input type="text" class="form-control" #newedit placeholder="ادخل التعديل" aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)=" updateArticle(p,newedit.value)">تعديل</button>
        </div>
      </div>
    </div>
  </div> -->

<!-- <div>
    <div>
        <input type="text" placeholder="{{ArticleObj.title}}" class="form-control" [(ngModel)]="editArticalObj.title" [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="{{ArticleObj.content}}" class="form-control" [(ngModel)]="editArticalObj.content" [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="{{ArticleObj.topics}}" class="form-control" [(ngModel)]="editArticalObj.topics" [ngModelOptions]="{standalone: true}">

        <button class="btn btn-primary" (click)=" editArticleInfo()">Edit</button>
    </div>
</div> -->


<div class="editarticle">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">العنوان</label>
        <textarea class="form-control title" placeholder="{{ArticleObj.title}}" id="exampleFormControlTextarea1" rows="1" [(ngModel)]="editArticalObj.title" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">الصنف</label>
        <textarea class="form-control topics" placeholder="{{ArticleObj.topics}}" id="exampleFormControlTextarea1" rows="1" [(ngModel)]="editArticalObj.topics" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">المحتوى</label>
        <textarea class="form-control content" placeholder="{{ArticleObj.content}}" id="exampleFormControlTextarea1" rows="7" [(ngModel)]="editArticalObj.content" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="a">
        <button class="btn btn-outline-success" (click)="editArticleInfo()">حفظ</button>
        <button class="btn btn-outline-danger" routerLink="/system/employee/responsible/operations/manage-articales">رجوع</button>
    </div>
</div>