.divart {
    margin-top: 10px;
}

.divart1 {
    margin-top: 57px;
}

.inputtext {
    margin-top: 57px;
}

div.editarticle {
    margin-top: 60px;
    margin-left: 230px;
}

button.btn.btn-primary {
    width: 912px;
}

label {
    font-size: 2rem;
}
.form-control.title.ng-untouched.ng-pristine.ng-valid,
.form-control.topics.ng-untouched.ng-pristine.ng-valid,
.form-control.content.ng-untouched.ng-pristine.ng-valid{
    direction: rtl;
}
button.btn.btn-outline-success {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
    }
    button.btn.btn-outline-danger {
        margin-left:773px;
        color: white;
        border-radius: 3.3rem;
        border: 2px solid #0297ee;
        }
    div.a{
        margin-top:20px;
    }