/* button.btn.btn-lg.btn-outline-primary {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #02ee35;
    margin-right: 25px;
    margin-left: 35px;
}

div.container.rounded.bg-dark.mt-5.mb-5 {
    margin-left: 104px;
}

div.col-md-3.border-right {
    margin-left: 40px;
}

div.col-md-5.border-right {
    margin-left: 250px;
    margin-top: 130px;
}

body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
} */

ul.nav.nav-tabs {
    margin-top: 120px;
}


/* nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
} */

button.btn.btn-lg.btn-outline-primary {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

button.btn.btn-lg.btn-outline-primary.save {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
    margin-left: 570px;
}

body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

div.container.emp-profile {
    margin-top: 70px;
    margin-left: 104px;
}

div.row1 {
    margin-left: 350px;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    /* background: black; */
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}