/* form.form-horizontal.ng-untouched.ng-pristine.ng-valid{
    padding-left: 200px;
}
h2{
    padding-left: 460px;
}
button.btn.btn-primary.btn-block{
   width: 675px;
   margin-left: 235px;
} */


/* body {
     background: url('https://static-communitytable.parade.com/wp-content/uploads/2014/03/rethink-target-heart-rate-number-ftr.jpg') fixed; 
    background-size: cover;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    margin-left: 410px;
    margin-top: 50px;
}

*[role="form"] h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
} */

ul.nav.nav-tabs {
    margin-top: 120px;
}


/* nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
} */

div.col-md-6 {
    margin-left: 351px;
}

div.a {
    padding-top: 30px;
}

button.btn.btn-lg.btn-outline-primary {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

button.btn.btn-lg.btn-outline-primary.cancel {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
    margin-left: 308px;
}

body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

div.container.emp-profile {
    margin-top: 70px;
    margin-left: 104px;
}

div.row1 {
    margin-left: 350px;
}

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    /* background: black; */
}

.profile-img {
    text-align: center;
}

.profile-img img {
    width: 70%;
    height: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}