<!-- <div>
    <div>
        <input type="text" placeholder="username" class="form-control" [(ngModel)]="editDoctorObj.name"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="firstName" class="form-control" [(ngModel)]="editDoctorObj.specialisation"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="lastName" class="form-control" [(ngModel)]="editDoctorObj.city"
            [ngModelOptions]="{standalone: true}">
            <input type="text" placeholder="password" class="form-control" [(ngModel)]="editDoctorObj.locationDesc"
            [ngModelOptions]="{standalone: true}">
            <input type="text" placeholder="username" class="form-control" [(ngModel)]="editDoctorObj.longitude"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="firstName" class="form-control" [(ngModel)]="editDoctorObj.latitude"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="lastName" class="form-control" [(ngModel)]="editDoctorObj.openTime"
            [ngModelOptions]="{standalone: true}">
            <input type="text" placeholder="password" class="form-control" [(ngModel)]="editDoctorObj.closeTime"
            [ngModelOptions]="{standalone: true}">
        <button class="btn btn-primary" (click)="editDoctorInfo()">Register</button>
    </div>
</div> -->



<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Editation</h2>
        <div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">name</label>

                <div class="col-sm-9">
                    <input type="text" id="firstName" class="form-control" autofocus [(ngModel)]="editDoctorObj.name" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">specialisation</label>

                <div class="col-sm-9">
                    <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="editDoctorObj.specialisation" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">city</label>

                <div class="col-sm-9">
                    <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="editDoctorObj.city" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">locationDesc</label>

                <div class="col-sm-9">
                    <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="editDoctorObj.locationDesc" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">longitude</label>

                <div class="col-sm-9">
                    <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="editDoctorObj.longitude" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">latitude</label>

                <div class="col-sm-9">

                    <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="editDoctorObj.latitude" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">openTime</label>

                <div class="col-sm-9">
                    <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="editDoctorObj.openTime" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">closeTime</label>

                <div class="col-sm-9">
                    <input type="text" id="lastName" class="form-control" autofocus [(ngModel)]="editDoctorObj.closeTime" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>



        

        <button type="submit" class="btn btn-primary btn-block" (click)="editDoctorInfo()">Edit</button>
    </form>
  
</div> -->

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="profile-head">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">تعديل معلومات الطبيب</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row1">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-12"><label class="labels">اسم الطبيب</label><input type="text" class="form-control" placeholder="{{doctorObj.name}}" [(ngModel)]="editDoctorObj.name" [ngModelOptions]="{standalone: true}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><label class="labels">تخصص</label><input type="text" class="form-control" placeholder="{{doctorObj.specialisation}}" [(ngModel)]="editDoctorObj.specialisation" [ngModelOptions]="{standalone: true}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><label class="labels">المدينة</label><input type="text" class="form-control" placeholder="{{doctorObj.city}}" [(ngModel)]="editDoctorObj.city" [ngModelOptions]="{standalone: true}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><label class="labels">الموقع</label><input type="text" class="form-control" placeholder="{{doctorObj.locationDesc}}" [(ngModel)]="editDoctorObj.locationDesc" [ngModelOptions]="{standalone: true}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><label class="labels">خط الطول</label><input type="text" class="form-control" placeholder="{{doctorObj.longitude}}" [(ngModel)]="editDoctorObj.longitude" [ngModelOptions]="{standalone: true}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><label class="labels">خط العرض</label><input type="text" class="form-control" placeholder="{{doctorObj.latitude}}" [(ngModel)]="editDoctorObj.latitude" [ngModelOptions]="{standalone: true}"></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-12"><label class="labels">OpenTime</label><input type="text" class="form-control" placeholder="{{doctorObj.openTime}}" [(ngModel)]="editDoctorObj.openTime" [ngModelOptions]="{standalone: true}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"><label class="labels">CloseTime</label><input type="text" class="form-control" placeholder="{{doctorObj.closeTime}}" [(ngModel)]="editDoctorObj.closeTime" [ngModelOptions]="{standalone: true}"></div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="a">
                <button type="button" class="btn btn-lg btn-outline-primary edit" (click)="editDoctorInfo()">حفظ</button>
                <button type="button" class="btn btn-lg btn-outline-primary cancel" routerLink="/system/employee/responsible/operations/manager-doctor">رجوع</button>
            </div>
        </div>
    </form>
</div>