<!-- <div>
    <div>
        <input type="text" placeholder="username" class="form-control" [(ngModel)]="responsibleObj.username"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="firstName" class="form-control" [(ngModel)]="responsibleObj.firstName"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="lastName" class="form-control" [(ngModel)]="responsibleObj.lastName"
            [ngModelOptions]="{standalone: true}">
            <input type="text" placeholder="password" class="form-control" [(ngModel)]="responsibleObj.password"
            [ngModelOptions]="{standalone: true}">
        <button class="btn btn-primary" (click)="registerResponsible()">Register</button>
    </div>
</div> -->




<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>واجهة تسجيل مسؤول الجهة الصحية</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="اسم مستخدم" class="form-control" [(ngModel)]="responsibleObj.username" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="كلمة السر" class="form-control" [(ngModel)]="responsibleObj.password" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="رقم الهاتف" class="form-control" [(ngModel)]="responsibleObj.phoneNumber" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="الأسم الأول" class="form-control" [(ngModel)]="responsibleObj.firstName" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="الأسم الاخير" class="form-control" [(ngModel)]="responsibleObj.lastName" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="البريد الإلكتروني" class="form-control" [(ngModel)]="responsibleObj.email" [ngModelOptions]="{standalone: true}">
                    </div>

                </div>
                <div class="form-group1">
                    <input type="text" placeholder="تاريخ الميلاد :99-99-9999" class="form-control" [(ngModel)]="responsibleObj.birthDate" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <button class="btn btn-lg btn-outline-primary" (click)="registerResponsible()">تسجيل</button>
            <button routerLink="/system/employee/manager/operations/main-operations-manager" class="btn btn-lg btn-outline-primary">رجوع</button>
        </div>
    </div>
</div>