/* nav.navbar.navbar-expand-md.navbar-dark.bg-primary.fixed-top {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
} */

button.btn.btn-lg.btn-outline-primary {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

.note {
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}

.form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}

.form-control {
    border-radius: 1.5rem;
}

.btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

div.container.register-form {
    width: 700px;
    height: 500px;
    margin-left: 332px;
    margin-top: 100px;
}

button.btn.btn-lg.btn-outline-primary {
    margin-left: 137px;
    margin-top: 70px;
}

div.form-group1 {
    padding-left: 130px;
    padding-right: 130px;
}