<!-- <div >
    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel  title="{{ArticleObj.title}}">
          <ng-template ngbPanelContent>
       {{ArticleObj.content}}
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
</div> -->




<!-- <div class="card text-center">
    <div class="card-header">
        {{ArticleObj.topics}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ArticleObj.title}}</h5>
        <p class="card-text">{{ArticleObj.content}}</p>
        <a routerLink="/system/employee/responsible/operations/manage-articales" class="btn btn-primary">Cancel</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div> -->



<!-- <div class="card mb-3">
    <img src="assets/images/8.jpg" width="50" height="400" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ArticleObj.title}}</h5>
        <p class="card-text">{{ArticleObj.content}}</p>
        <a routerLink="/system/employee/responsible/operations/manage-articales" class="btn btn-primary">Cancel</a>
    </div>
</div> -->




<!-- <div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{ArticleObj.title}}</h2>
            <p class="lead">{{ArticleObj.content}}</p>
        </div>
        <div class="col-md-5">

            <img src="assets/images/8.jpg" width="400" height="400">
        </div>
    </div>
</div> -->



<!-- <hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">العنوان الأول المميز. <span class="text-muted"> سيذهل عقلك. </span></h2>
        <p class="lead">وجه الإنسان هو جزء معقَّد ومتميِّز للغاية من جسمه. وفي الواقع، إنه أحد أكثر أنظمة الإشارات المتاحة تعقيداً لدينا؛ فهو يتضمَّن أكثر من 40 عضلة مستقلة هيكلياً ووظيفياً، بحيث يمكن تشغيل كل منها بشكل مستقل عن البعض الآخر؛ وتشكِّل أحد أقوى مؤشرات العواطف.</p>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"  img src="assets/images/8.jpg" width="400" height="400"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
</div> -->



<div class="card">
    <img src="assets/images/8.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ArticleObj.title}}</h5>
        <p class="card-text">{{ArticleObj.content}}</p>
        <button class="btn btn-outline-danger" routerLink="/system/employee/responsible/operations/manage-articales">رجوع</button>
    </div>
</div>