.card{
    width: 1002px;
    margin-left: 160px;
}
div.container.marketing {
    margin-left: 104.5px;
    margin-top: 70px;
}

.lead {
    word-break: break-all;
}
/* img.card-img-top{
    height: 750px;
    width: 1000px;
} */
.card-title,
.card-text{
    direction: rtl;
}
button.btn.btn-outline-danger {
    margin-left:900px;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
    }