<!-- <div *ngFor="let p of users.docs">
  <ngb-accordion  (click)="getUserId(p)"#acc="ngbAccordion">
    <ngb-panel  title="{{p.username}}">
      <ng-template ngbPanelContent>
        <div>
          <div class="container">

            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>isBlocked</th>
                  <th>username</th>
                  <th>firstName</th>
                  <th>lastName</th>
                  <th>role</th>
                  <th>createdAt</th>
                  <th>updatedAt</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{userId.isBlocked}}</td>
                  <td>{{userId.username}}</td>
                  <td>{{userId.firstName}}</td>
                  <td>{{userId.lastName}}</td>
                  <td>{{userId.role}}</td>
                  <td>{{userId.createdAt}}</td>
                  <td>{{userId.updatedAt}}</td>

                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div> -->
<!-- <ul class="list-group">
    <li *ngFor="let u of users.docs" class="list-group-item">
        {{u.username}}
    </li>
</ul> -->
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <img src="assets/images/1.jpg" width="50" height="50">
    </nav>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">إدارة المستخدمين </h5>
                    <div>
                        <button class="btn btn-lg btn-outline-primary cancel" routerLink="/system/employee/manager/operations/main-operations-manager">رجوع</button>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">الاسم الأول</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">الاسم الاخير</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">اسم المستخدم</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">تاريخ الميلاد</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">المكانة الوظيفية</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">حالة العمل</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">إدارة </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of users.docs  | paginate: { id: 'listing_pagination',itemsPerPage:10, currentPage: page,totalItems:totalRecords }">

                                <td class="pl-4">{{this.users.docs.indexOf(p)+1}}</td>

                                <td>

                                    <span class="text-muted">{{p.firstName}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.lastName}}</span><br>

                                </td>
                                <td>
                                    <span class="text-muted">{{p.username}}</span><br>

                                </td>
                                <td>
                                    <span class="text-muted">{{p.birthDate}}</span><br>

                                </td>
                                <td>
                                    <span class="text-muted">{{p.role}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.isBlocked}}</span><br>
                                </td>
                                <td>
                                    <button class="btn btn-lg btn-outline-danger" routerLink="/system/employee/manager/operations/get-users" (click)="deleteUser(p)">حذف</button>
                                    <button class="btn btn-lg btn-outline-primary" routerLink="/system/employee/manager/operations/get-users" (click)=" blockUser(p)">حظر</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <pagination-controls id='listing_pagination' maxSize:number=10 directionLinks:boolean="true" (pageChange)="pageChanged($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>