button.btn.btn-lg.btn-outline-primary {
    height: 48px;
    width: 92px;
}


/* nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
} */

button.btn.btn-lg.btn-outline-primary.cancel {
    height: 48px;
    width: 95px;
    margin-left: 1141px;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

button.btn.btn-lg.btn-outline-primary,
button.btn.btn-lg.btn-outline-danger {
    /* color: white; */
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

body {
    background: #edf1f5;
    margin-top: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    width: 1338px;
    margin-top: 70px;
}

.btn-circle.btn-lg,
.btn-group-lg>.btn-circle.btn {
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 23px;
}

.text-muted {
    color: #8898aa!important;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}

.user-table tbody tr .category-select {
    max-width: 150px;
    border-radius: 20px;
}