<div class="container register-form">
    <div class="form">
        <div class="note">
            <p>واجهة تسجيل مستخدم جديد</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="اسم المستخدم" class="form-control" [(ngModel)]="userObj.username" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="كلمة سر" class="form-control" [(ngModel)]="userObj.password" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="رقم الهاتف" class="form-control" [(ngModel)]="userObj.phoneNumber" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="الاسم الاول" class="form-control" [(ngModel)]="userObj.firstName" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="الاسم الاخير" class="form-control" [(ngModel)]="userObj.lastName" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="البريد الإلكتروني" class="form-control" [(ngModel)]="userObj.email" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group1">
                    <input type="text" placeholder="تاريخ الميلاد :99-99-9999" class="form-control" [(ngModel)]="userObj.birthDate" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="الجنس" class="form-control" [(ngModel)]="userObj.record.gender" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="الأدوية الحالية" class="form-control" [(ngModel)]="userObj.record.currentMedications" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="الاضطرابات العائلية" class="form-control" [(ngModel)]="userObj.record.Familydisturbances" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="طفل وحيد" class="form-control" [(ngModel)]="userObj.record.lonelyChild" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="يتعرض للعنف" class="form-control" [(ngModel)]="userObj.record.ExposedToViolence" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="الوضع المالي للأسرة" class="form-control" [(ngModel)]="userObj.record.FinancialStausOfTheFamily" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group1">
                    <input type="text" placeholder="احصل على طعام صحي" class="form-control" [(ngModel)]="userObj.record.GetHealthyFood" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="معدل النوم" class="form-control" [(ngModel)]="userObj.record.SleepRate" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="معدل اللعب" class="form-control" [(ngModel)]="userObj.record.playingRate" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="مؤشر الصحة العقلية" class="form-control" [(ngModel)]="userObj.record.mentalHealthIndicator" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" placeholder="مستوى تعليم الأب" class="form-control" [(ngModel)]="userObj.record.educationLevelFather" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="مستوى تعليم الام" class="form-control" [(ngModel)]="userObj.record.educationLevelmother" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="التثقيف الصحي" class="form-control" [(ngModel)]="userObj.record.healthEducation" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="form-group1">
                    <input type="text" placeholder="مؤشر التعليم للطفل" class="form-control" [(ngModel)]="userObj.record.educationIndicatorForChild" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <button class="btn btn-lg btn-outline-primary" (click)="registerUser()">تسجيل</button>
            <button routerLink="/system/employee/emp/operations/git-all-user" class="btn btn-lg btn-outline-primary">رجوع</button>
        </div>
    </div>
</div>