button.btn.btn-lg.btn-light {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

button.btn.btn-lg.btn-outline-primary {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
    margin-left: 1003px;
}

img {
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}