button.btn.btn-lg.btn-outline-primary {
    color: rgb(8, 8, 8);
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

button.btn.btn-lg.btn-outline-primary.add {
    margin-left: 1065px;
    width: auto;
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

button.btn.btn-lg.btn-outline-primary.cancel {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

img {
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

div.card {
    width: 1328px;
    margin-top: 64px;
}

th.border-0.text-uppercase.font-medium.a {
    width: 100px;
}