<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <img src="assets/images/1.jpg" width="50" height="50">
        <button class="btn btn-lg btn-outline-primary add" routerLink="/system/employee/responsible/operations/add-questionnaire">إضافة استبيان</button>
        <button class="btn btn-lg btn-outline-primary cancel" routerLink="/system/employee/responsible/operations/main-operations-responsible">رجوع</button>
    </nav>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">إدارة الاستبيانات</h5>

                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">الاسم</th>
                                <th scope="col" class="border-0 text-uppercase font-medium a">إدارة </th>

                            </tr>
                        </thead>
                        <tbody *ngFor="let p of questionnaire">
                            <tr>
                                <td class="pl-4">{{this.questionnaire.indexOf(p)+1}}</td>
                                <td>

                                    <span class="text-muted">{{p.title}}</span><br>
                                </td>
                                <td>
                                    <!-- <button class="btn btn-lg btn-outline-primary">Edite</button> -->
                                    <button class="btn btn-lg btn-outline-primary" (click)="view(p)">عرض</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>