<!-- <div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/system/employee/responsible/operations/main-operations-responsible">Responsible </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/system/employee/responsible/operations/add-articles">إضافة </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/system/employee/responsible/operations/delete-articles">حذف </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/system/employee/responsible/operations/edit-articles">تعديل </a>
        </li>
      </ul>
    </div>
  </nav>
</div> -->

<!-- <div class="inputtext">
  <input type="text" class="form-control"  placeholder="إضافة مقالة" aria-label="Recipient's username"
  aria-describedby="basic-addon2"#articale (keyup.enter)="creatArticle(articale)">
</div>

<div class="divart">
  <div *ngFor="let p of post">
    <ngb-accordion class="aaa"  #a="ngbAccordion" activeIds="custom-panel-1">

      <ngb-panel>
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="m-0">{{p.title}}</h5>
            <div>
              <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">{{ opened ? 'إغلاق' : 'فتح' }}</button>

              <button class="btn btn-sm btn-outline-primary ml-2" (click)="deleteArticle(p)">حذف</button>


            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
          tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
          helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
          Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
          accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <div class="input-group mb-3">
      <input type="text" class="form-control" #newedit placeholder="ادخل التعديل" aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)=" updateArticle(p,newedit.value)">تعديل</button>
      </div>
    </div>
  </div>
</div> -->




<!-- <div>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand">ManagerIs</a>
    <button class="btn btn-lg btn-primary" routerLink="/system/employee/responsible/operations/add-articles">add
      Article</button>
  </nav>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase mb-0">Manage Doctor</h5>
        </div>
        <div class="table-responsive" *ngFor="let p of A">
          <table  class="table no-wrap user-table mb-0">
            <thead>
              <tr>
                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                <th scope="col" class="border-0 text-uppercase font-medium">topics</th>
                <th scope="col" class="border-0 text-uppercase font-medium">title</th>
                <th scope="col" class="border-0 text-uppercase font-medium">content</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Manage </th>

              </tr>
            </thead>
            <tbody >
              <tr>
                <td class="pl-4">1</td>
                <td>

                  <span class="text-muted">{{p.topics}}</span><br>
                </td>
                <td>
                  <span class="text-muted">{{p.title}}</span><br>

                </td>
                <td>
                  <span class="text-muted">{{p.content}}</span><br>

                </td>
                <td>
                  <button class="btn btn-lg btn-outline-primary" (click)="deleteArticle(p)">Delete</button>
                  <button class="btn btn-lg btn-outline-primary" (click)="edit(p)" >Edit</button>
                  <button class="btn btn-lg btn-outline-primary" (click)="view(p)" >View</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <img class="a" src="assets/images/1.jpg" width="50" height="50">
        <button class="btn btn-lg btn-outline-primary add" routerLink="/system/employee/responsible/operations/add-articles">إضافة مقالة</button>
        <button class="btn btn-lg btn-outline-primary cancel" routerLink="/system/employee/responsible/operations/main-operations-responsible">رجوع</button>
    </nav>
</div>
<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
        <a ngbNavLink>قسم التغذية</a>
        <ng-template ngbNavContent>

            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase mb-0">Manage Article</h5>
                            </div>
                            <div class="table-responsive" *ngFor="let p of A">
                                <table class="table no-wrap user-table mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">title</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Manage </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pl-4">{{this.A.indexOf(p)+1}}</td>
                                            <td class="a">
                                                <span class="text-muted">{{p.title}}</span><br>

                                            </td>
                                            <td>
                                                <button class="btn btn-lg btn-outline-danger" (click)="deleteArticle(p)">حذف</button>
                                                <button class="btn btn-lg btn-outline-success" (click)="edit(p)">تعديل</button>
                                                <button class="btn btn-lg btn-outline-info" (click)="view(p)">عرض</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>الصحة النفسية</a>
        <ng-template ngbNavContent>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase mb-0">Manage Article</h5>
                            </div>
                            <div class="table-responsive" *ngFor="let p of B">
                                <table class="table no-wrap user-table mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">title</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Manage </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pl-4">{{this.B.indexOf(p)+1}}</td>
                                            <td class="a">
                                                <span class="text-muted">{{p.title}}</span><br>

                                            </td>
                                            <td>
                                                <button class="btn btn-lg btn-outline-danger" (click)="deleteArticle(p)">حذف</button>
                                                <button class="btn btn-lg btn-outline-success" (click)="edit(p)">تعديل</button>
                                                <button class="btn btn-lg btn-outline-info" (click)="view(p)">عرض</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>قسم النمو</a>
        <ng-template ngbNavContent>
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-uppercase mb-0">Manage Article</h5>
                            </div>
                            <div class="table-responsive" *ngFor="let p of C">
                                <table class="table no-wrap user-table mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">title</th>
                                            <th scope="col" class="border-0 text-uppercase font-medium">Manage </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pl-4">{{this.C.indexOf(p)+1}}</td>
                                            <td class="a">
                                                <span class="text-muted">{{p.title}}</span><br>

                                            </td>
                                            <td>
                                                <button class="btn btn-lg btn-outline-danger" (click)="deleteArticle(p)">حذف</button>
                                                <button class="btn btn-lg btn-outline-success" (click)="edit(p)">تعديل</button>
                                                <button class="btn btn-lg btn-outline-info" (click)="view(p)">عرض</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>