    @import '~bootstrap/dist/css/bootstrap.css';
    @import'~bootstrap/dist/css/bootstrap.min.css';
    body {
        /* background-color: #0072ff; */
        /* background-image: url('assets/images/5.jpg');
    background-size: 50% 50%;
    height: 625px;*/
        background-image: linear-gradient( rgba(35, 109, 155, 0.9), rgba(219, 207, 219, 0.9)), url('assets/images/5.jpg');
        background-size: 100% 100%;
        /* height: 625px; */
        background-repeat: no-repeat;
        background-attachment: fixed;
    }