<!-- <div class="divart">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/system/employee/responsible/operations/manage-articales">إدارة المقالات </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="inputtext">
    <input type="text" class="form-control"  placeholder="إضافة مقالة" aria-label="Recipient's username"
    aria-describedby="basic-addon2"#articale (keyup.enter)="creatArticle(articale)">
  </div> -->
<!-- <div>
    <div>
        <input type="text" placeholder="title" class="form-control" [(ngModel)]="articleObj.title"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="content" class="form-control" [(ngModel)]="articleObj.content"
            [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="topics" class="form-control" [(ngModel)]="articleObj.topics"
            [ngModelOptions]="{standalone: true}">

        <button class="btn btn-primary" (click)="addArticle()">Add</button>
    </div>
</div> -->


<div class="addarticle">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">العنوان</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" [(ngModel)]="articleObj.title" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">الصنف</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" [(ngModel)]="articleObj.topics" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">المحتوى</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7" [(ngModel)]="articleObj.content" [ngModelOptions]="{standalone: true}"></textarea>
    </div>
    <div class="a">
        <button class="btn btn-outline-success" (click)="addArticle()">حفظ</button>
        <button class="btn btn-outline-danger" routerLink="/system/employee/responsible/operations/manage-articales">رجوع</button>
    </div>

</div>