.divart {
    margin-top: 10px;
}

.inputtext {
    margin-top: 57px;
}

div.addarticle {
    margin-top: 60px;
    margin-left: 230px;
}

button.btn.btn-outline-success {
color: white;
border-radius: 3.3rem;
border: 2px solid #0297ee;
}
button.btn.btn-outline-danger {
    margin-left:773px;
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
    }
div.a{
    margin-top:20px;
}
label {
    font-size: 2rem;
}