<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <img src="assets/images/1.jpg" width="50" height="50">
        <button class="btn  btn-lg btn-outline-primary add-doctor" routerLink="/system/employee/responsible/operations/add-doctor">إضافة طبيب</button>
        <button class="btn  btn-lg btn-outline-primary cancel" routerLink="/system/employee/responsible/operations/main-operations-responsible">رجوع</button>
    </nav>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">إدارة الاطباء</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">اسم الطبيب</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">تخصص</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">المدينة</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">الموقع</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">خط الطول</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">خط العرض</th>
                                <!-- <th scope="col" class="border-0 text-uppercase font-medium">وقت الفتح</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">وقت الاغلاق</th> -->
                                <th scope="col" class="border-0 text-uppercase font-medium">إدارة </th>

                            </tr>
                        </thead>
                        <tbody *ngFor="let p of doctor">
                            <tr>
                                <td class="pl-4">{{this.doctor.indexOf(p)+1}}</td>
                                <td>

                                    <span class="text-muted">{{p.name}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.specialisation}}</span><br>

                                </td>
                                <td>
                                    <span class="text-muted">{{p.city}}</span><br>

                                </td>
                                <td>
                                    <span class="text-muted">{{p.locationDesc}}</span><br>

                                </td>
                                <td>
                                    <span class="text-muted">{{p.longitude}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.latitude}}</span><br>
                                </td>
                                <!-- <td>
                                    <span class="text-muted">{{p.openTime}}</span><br>
                                </td>
                                <td>
                                    <span class="text-muted">{{p.closeTime}}</span><br>
                                </td> -->
                                <td>
                                    <button class="btn btn-lg btn-outline-danger" (click)="deleteDoctor(p)">حذف</button>
                                    <button class="btn btn-lg btn-outline-primary" (click)="edit(p)">تعديل </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>