ngb-carousel.carousel.slide {
    top: -2px;
    margin-top: 45px;
    height: 300px;
    width: 1116px;
    margin-left: 140px;
}


/* nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top {
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
} */

button.btn.btn-lg.btn-light {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

button.btn.btn-lg.btn-outline-primary {
    color: white;
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

img {
    border-radius: 3.3rem;
    border: 2px solid #0297ee;
}

div.a {
    margin-left: 352px;
}


/* p{
        width:600px;
        margin-top: 160px;
        margin-right: 120px;
        margin-left: 380px;
        direction: rtl;
    
} */